#board {
    background-color: rgb(192, 192, 192);
    height: 10vw;
    width: 16vw;
    margin: 10px;
    border-radius: 10px;
    margin: 2vw;
    background-color: #016aa7;
    cursor: pointer;
}


span {
    font-size: 20px;
    color: #000;
    margin: 15px;
    font-weight: bolder;
    color: #fff;
}

#board-link {
    text-decoration: none;
    cursor: pointer;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-body {
    display: flex;
    flex-wrap: wrap;
}
