@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");

body {
    margin: 0;
    padding: 0;
}

html {
    background: #0079bf;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    background-color: #ce3a3a00 !important;
}


button {
    color: #fff;
    background-color: #4d95bf;
    height: 40px;
    text-align: center;
    width: auto;

}

/* input::placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
} */

header {
    width: 100%;
    height: 50px;

}

.hide {
    display: none;
}

section {
    width: 100%;
    height: 50px;
}

.navbar {
    height: 50px;
}

.list-board {
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    /* background: #fff; */
    justify-content: space-between;
    margin:20px 20px;
}



#board {
    height: 880px;
    display: flex;
    justify-content: flex-start;
}
.cardName{
    cursor: pointer;

}

.pcard .colbtn:hover{
background:#c8c9ca;
}

#list {
    width: 15%;
    height: max-content;
    background-color: lightgray;
    margin-left: 15px;
}

.listorder {
    min-width: 19rem;
    height: fit-content;
    background-color: #ebecf0;
    padding: 10px;
    border-radius: 0.5rem;
    margin-bottom: 3.5rem;
}

.h6btn {
    display: flex;
    justify-content: space-between;
}

p {
    background: #fff;
    margin: 9px;
    border-radius: 5px;
    padding: 10px;
}

.h6btn {
    padding: 10px;
}

input {
    height: 2vw;
    border-radius: 5px;
    border: none;
}
/* 
.modal-lg {
    max-width: 100%;
} */

.checklist{
    display: flex;
}

h5{
    margin: 15px;
}

li{
    list-style-type: none;
    margin: 10px;
}

.colbtn{
    width: 100%;
}

.description{
    background: #c8c9ca;
    color: black;
    width: 100%;
    height:min-content
}